*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outContainer{
    margin: auto;
    max-width: 80vw;
    max-height: 100vh;
    width: 70vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 212, 212);
    overflow:hidden ;
   
}
.comands {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted black;
}
.title{
    border: 1px solid black;
   
    padding: 5px 10px;
}

.rangeValue{ 
    font-size: 2rem;
    padding: 5px 10px;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content:    center ;
    width: 700px;
    height: auto;
    /* max-width: 70vw; */
   border: 2px dotted black;
    
}

.divs:hover {
    background-color: blue;
    /* border: 1px solid black; */
 }
.divs{
    border: 1px solid rgb(160, 149, 149);
    /* border-radius: 50%; */
}
 