.container {
    width: 90vw;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('road.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
}

#square {
     

    height: 150px;
    width: auto;
    border: 1px solid black;
     
    border-radius: 20px 20px 0px 0px;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#square > img{
    width: 100px;
    height: auto;
    transform: rotate(90deg);
}