
.container{
    width: 90vw;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: auto;
}
dot {
    position: absolute;
    display: block;
    border: 2px solid red;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

 