*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #212121;
}

.title  {
    display: flex;
    position:absolute;
    margin-top: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.title p {
    color: rgba(46, 43, 43, 0.473);
    font-size: 25px;
    
     text-shadow:  0px 0px 20px rgba(97, 220, 236, 0.897);  
}
 
.container {
    position: relative;
    border: 1px solid rgba(243, 207, 207, 0.904);
    border-style: groove;
   border-radius:  20px;
   box-shadow: rgba(243, 207, 207, 0.904) 5px 5px 5px 0px;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background-color: rgba(248, 8, 8, 0.1); */
    background-image: url('sky.jpg');
    background-size: contain;
    border: 4px groove rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px;
    
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i) ));  
    inset: 25px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    z-index:2;
    
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: 2px;
    height: var(--h);
    border-radius: 8px;
}