body{
    text-align: center;
}

form{
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

p + p {
    margin-top: 1em;
}
label {
    display: inline-block;
    min-width: 90px;
    text-align:right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: black;
 
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}

.slider1    {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
}

.res {
    border: 2px dotted blue;
    width: 80%;
    padding: 4px;
    margin: 4px;

}

 