*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }

 
 .theme{
    height: auto;
    width:90vw;
    margin: auto;
    height: 9vh;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
 }
 
 .container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 98vw;
    height: 90vh;
    border: .5px solid black;
    margin: auto;
    padding-top: 10vh;
    gap: 20px;
    border-radius: 20px;
    
 }

 #weather option{
    text-align: center;
 }

 .container p {
    background-color: chartreuse;
    width: 100vh;
    height: auto;
    text-align: center;
    margin-top: 20vh;
     padding: 20px;
     font-size: larger;
 }