.container{
    width: 90vw;
    height:90vh;
    background-color: green;
    color: white;
    font-weight: strong;
    font-size: 2rem;
}

#vibrationButton{
    width: 20vw;
    margin-left: 25px;
}