*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center ;
    overflow:hidden;
 }
 
.header {
    display: flex;
     
    flex-flow: row  nowrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100vw;
    background-color: #1F2937;
    padding: 10px;
    color: #E5E7EB;
    z-index: 9;}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: bold;}

.header a:hover {
    color:#3882F6;
    font-weight:bolder;
    font-size: 120%;
    
}

 .logo {
    margin-right: auto;
    margin-left: 10%;
    font-size: 24px;
    font-weight: bolder;}

 .l3 {
    margin-right: 10%;}

.main1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    /* overflow: hidden; */
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;}
.main1 .text
{   display: flex;
    flex-direction: column;
    flex-basis: auto;
}
.image img{
     width:100%;
     flex-basis: auto;
     /* margin-left: 25%; */
     align-self: center;
     /* padding: 10% 10%; */
     /* border: 1px solid white; */}
 
.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px;
    flex-basis: auto;}


.main2b {
        display: flex;
        flex-direction: row;
        width:80vw;
        height:auto;
        justify-content: center;
        align-items: center; 
        gap: 20px;}

.main2b img {
    justify-content: center;
            max-width: 20vw;
            width: 10vw;
            max-height: auto; 
            /* height: auto;
            width: 100%; */
            border-radius: 10%;
            border: 1px solid black;
         }
.main2b img:hover {
    width: 15vw;
    height: auto;
}    

.main3 {
     
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 100vw;
     justify-content: center;
     background-color: #E5E7EB;
     padding: 20px;
}

.main4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3882F6;
    width: 80vw;
    height: auto;
    gap: 20px;
 
}

.main3 quoteblock {
    font-size: 36px;
     
}


.a1a { 
    width: 50%;
    color: white;
    padding: 10px 10px;
}

 
/* .a1{
    height: 25%;
    overflow:hidden;
    } */
.footer {
    
    height: auto;
    width: 100vw;
    background-color: #1F2937;
    color: white;
    text-align: center;
     
}


.a {
    border: 1px solid black;
}

.button {
    color: white;
    background-color: #3882F6;
    border-radius: 10%;
    width: 20%;
    padding: 5px 5px;
    margin-top:10px;
}