*{
    background-color: bisque;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
}
 
#decor {
     
    height: 2px;
    width: auto;
    background-color: blue;
    animation-name: divAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    
     
}
#decor1, #decor2, #decor3, #decor4 {
    animation-name: divAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    height: 2px;
    width: auto;
    background-color: blue;
}

@keyframes divAnimation {
    0% {
        
        width: 0vw;
        transition: 1s ease-in-out;
        background-color: green;
    }
    
    25% {
        width: 25vw;
        transition: 1s ease-in-out;
        background-color: yellow;
    }


    50% {
        width: 50vw;
        transition: 1s ease-in-out;
        background-color: orange;

    }

    75% {
        width: 75vw;
        transition: 1s ease-in-out;
        background-color: red;
    }

    100% {
        width: 100vw;
        transition: 1s ease-in-out;
        background-color: blue;
    }
}

 button {
    width: 50vw;
    height:auto;
    padding: 50px;
    background-color: yellowgreen;
    font-weight: bolder;
    font-size: 20px;
    transition: 1s ease-in-out;
      
 }
 button:hover {
    background-color: yellow;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 20px;
    transition: 0.5s ease-in-out;
 }