*{
    background-color: bisque;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 50vh;
}
 

 button {
    padding: 50px;
    background-color: yellowgreen;
     
 }
 button:hover {
    background-color: yellow;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
 }