*{
    background-color: bisque;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 50vh;
}
 

 button {
    padding: 50px;
    background-color: yellowgreen;
    font-weight: bolder;
    font-size: 20px;
    transition: 1s ease-in-out;
      
 }
 button:hover {
    background-color: yellow;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 20px;
    transition: 0.5s ease-in-out;
 }