*{
    box-sizing: border-box;
    margin:0;
}

.container {
    border: 3px dotted black;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    
}


.header{
     font-family:'Times New Roman', Times, serif;
    z-index: 0;
    width:100%;
    height: 10%;
    top: 5px;
    text-align: center;
    font-size:  2rem ;
    text-shadow:  5px 5px 15px rgb(5, 26, 32);
    overflow: hidden;
}
.pian{
    height:50vh;
    display:flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
    
}



.clape {
    font-family:'Times New Roman', Times, serif;
     display:flex;
      color:white;
    height:100%;
    width: 100%;
    justify-content: space-around;
    text-align: center;
     transition: all 0.15s;
    padding-top: 20px;
     font-size: x-large;
     background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
     border-radius: 0px 0px 20px 20px;
     box-shadow: 10px 10px 15px rgb(5, 26, 32);
     font-size: 2rem;
     font-weight: bolder;
     text-shadow:  10px 10px 15px rgb(5, 26, 32);
}

.clapaPressed {
    transform:    rotateX(-20deg);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  
    box-shadow: 10px 10px 15px rgb(1, 13, 17);
    
   
}


/* .container * {
    border: 1px solid black;
     
} */

.footer {
    text-align: center;
    color: white;
    text-shadow: 10px 10px 5px black;
    height: 20vh;
    font-size: xx-large;
    display: flex;
    justify-content:center ;
    align-items: center;
}